oracle soft nfile 65536
oracle hard nfile 65536
oracle soft nproc 16384
oracle hard nproc 16384
oracle soft stack 32768
oracle hard stack 32768
oracle soft memlock {{ memlock_limit }} 
oracle hard memlock {{ memlock_limit }}